# --- Unity 필수 무시 목록 ---
#ff444445352532
# 파일의 가장 윗부분에 추가하세요
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Ll]ogs/
**/[Pp]ackage[Cc]ache/

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emory[Cc]aptures/
/[Pp]ackage[Cc]ache/

# --- 에디터 및 시스템 파일 ---
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
mono_crash.*

# --- 빌드 결과물 ---
*.apk
*.aab
*.unitypackage
*.app